<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Jqyery+CSS折叠、合拢的多级菜单</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
      
</head>

<body>
    <div >
        <div style="width: 300px;">
            <ul class="menu">
                <li>
                    <a>菜单1</a>
                    <ul>
                        <li><a>菜单1.1</a></li>
                        <li><a>菜单1.2</a></li>
                        <li><a>菜单1.3</a></li>
                        <li><a>菜单1.4</a></li>
                        <li><a>菜单1.5</a></li>
                    </ul>
                </li>
                <li>
                    <a>菜单2</a>
                    <ul>
                        <li><a>菜单2.1</a></li>
                        <li><a>菜单2.2</a></li>
                        <li><a>菜单2.3</a></li>
                        <li><a>菜单2.4</a></li>
                        <li><a>菜单2.5</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <style>
        .menu {
            width:300px;
            background-color:yellow;
        }
            .menu a {
                display:block;
                width:200px;
                border:1px solid green;
                height:20px;
            }
            .menu > li {
                position:relative;
                background-color:gray;
            }
             .menu > li > ul {
                display: none;
            }

            .menu > li > a:hover + ul {
                position:absolute;
                left:100px;
                display:block;
                z-index:20;
                top:-20px;
            }
                .menu > li >ul>li> a:hover + ul {
                    position: absolute;
                    left: 100px;
                    display: block;
                }
    </style>
</body>
</html>