<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/cssbootstrap")
    @Styles.Render("~/bundles/csschesframe")

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
